html {
  scroll-behavior: smooth;
}
body {
  background-color: #141414;
  font-family: var(--inter-font);
  color: white;
  font-size: 0.875rem;
  padding-inline: 24px;
  padding-block: 126px;
  display: flex;
  justify-content: center;
}
